################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0/HelloWorld.runtimeconfig.json
/SWP_FirstSteps/HelloWorld/obj
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/apphost.exe
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.AssemblyInfo.cs
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.AssemblyInfoInputs.cache
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.assets.cache
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.csproj.BuildWithSkipAnalyzers
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.csproj.CoreCompileInputs.cache
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.csproj.FileListAbsolute.txt
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.dll
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.genruntimeconfig.cache
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.GlobalUsings.g.cs
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/HelloWorld.pdb
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/ref
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/ref/HelloWorld.dll
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/refint
/SWP_FirstSteps/HelloWorld/obj/Debug/net8.0/refint/HelloWorld.dll
/SWP_FirstSteps/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
/SWP_FirstSteps/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
/SWP_FirstSteps/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
/SWP_FirstSteps/HelloWorld/obj/project.assets.json
/SWP_FirstSteps/HelloWorld/obj/project.nuget.cache
/.vs
/.vs/1.Stunde/v17
/.vs/1.Stunde/v17/.wsuo
/.vs/1.Stunde/v17/DocumentLayout.backup.json
/.vs/1.Stunde/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/SWP_FirstSteps
/SWP_FirstSteps/.vs/SWP_FirstSteps
/SWP_FirstSteps/.vs/SWP_FirstSteps/DesignTimeBuild
/SWP_FirstSteps/.vs/SWP_FirstSteps/FileContentIndex
/SWP_FirstSteps/.vs/SWP_FirstSteps/FileContentIndex/041eeb34-744b-4d74-a6cd-eeb4d5319e20.vsidx
/SWP_FirstSteps/.vs/SWP_FirstSteps/v17
/SWP_FirstSteps/HelloWorld
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0/HelloWorld.deps.json
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0/HelloWorld.dll
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0/HelloWorld.exe
/SWP_FirstSteps/HelloWorld/bin/Debug/net8.0/HelloWorld.pdb
